<div class="container">
  <div class="bainer">
    <div class="bainer-text text1">
      <h2>Hey! welcome back to RentIdea!</h2>
      <p>"Rent the dream, leave the maintenance behind."</p>
    </div>
    <!-- <div class="bainer-text text2">
      
    </div> -->
    <div class="text3">
      <p>Please login to book our products and make hassle-free payments.</p>
    </div>
  </div>
  <div class="login">
    <div></div>
    <div class="loginField">
      <h2>Welcome Back!</h2>
      <p class="Info">Please enter your account details</p>
      <label for="">Gmail</label> <br />
      <input class="gmail" type="email" placeholder="" /><br />
      <br />
      <label for="">Password</label> <br />
      <input class="gmail" type="password" placeholder="" />

      <br />

      <a href="">
        <h5 class="forget">Forget Password?</h5>
      </a>
      <button class="btn-login">Login</button>

      <div class="sign-up">
        <label for="">Don't have an account? </label>
        <a href="">Sign Up</a>
      </div>
    </div>
  </div>
</div>
